@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@-webkit-keyframes btn-hover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes btn-hover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hearthover {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hearthover {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes heart-is-liked {
  0% {
    color: #7D7D7D;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    color: #9356DC;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes heart-is-liked {
  0% {
    color: #7D7D7D;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    color: #9356DC;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  text-decoration: none;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  color: #121212;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  -webkit-box-shadow: 0px 2px 10px -6px #7D7D7D;
          box-shadow: 0px 2px 10px -6px #7D7D7D;
  z-index: z;
}

header img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  padding: 30px 0;
}

.btn-pink {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 300;
  -webkit-box-shadow: 0px 4px 12px -6px #7D7D7D;
          box-shadow: 0px 4px 12px -6px #7D7D7D;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-pink:not(:hover) {
  -webkit-animation: btn-hover 1s ease 2s 1 normal forwards;
          animation: btn-hover 1s ease 2s 1 normal forwards;
}

.btn-pink:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.instructions_step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  height: 80px;
  margin: 30px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 12px -6px #7D7D7D;
          box-shadow: 0px 4px 12px -6px #7D7D7D;
}

.instructions_step span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.instructions_step i {
  width: 10px;
  font-size: 20px;
  margin: auto;
  color: #7D7D7D;
}

.instructions_step p {
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}

.instructions_step:nth-child(4) {
  background: #f4eefc;
}

.instructions_step:nth-child(4) i {
  color: #9356DC;
}

.btn_new {
  background-color: #99E2D0;
  color: #278870;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 400;
}

.restaurant_article {
  height: auto;
  margin: 20px 0;
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 12px -6px #7D7D7D;
          box-shadow: 0px 4px 12px -6px #7D7D7D;
  background-color: white;
}

.restaurant_article .btn_new {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 20px;
}

.restaurant_article img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant_article div {
  width: 100%;
  font-size: 22px;
  width: 50%;
  margin: 20px;
}

.restaurant_article div h3 {
  font-weight: 600;
  color: #121212;
}

.restaurant_article div p {
  font-weight: 300;
  margin-top: 10px;
  color: #7D7D7D;
}

.restaurant_article i {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-size: 30px;
  margin: 20px;
  color: #121212;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  color: #7D7D7D;
}

.restaurant_article i:hover {
  -webkit-animation: hearthover 2s ease 0s infinite normal forwards;
          animation: hearthover 2s ease 0s infinite normal forwards;
}

.restaurant_article i:active {
  -webkit-animation: heart-is-liked 2s ease 0s 1 normal forwards;
          animation: heart-is-liked 2s ease 0s 1 normal forwards;
}

.location {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EDEDED;
  padding: 20px 0;
}

.location i,
.location p {
  padding: 0 10px;
  font-size: 20px;
}

.location p {
  font-weight: 500;
  color: #7D7D7D;
}

.menu_exploration {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu_exploration h1 {
  margin: 40px 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  width: 70%;
  text-align: center;
  color: #121212;
}

.menu_exploration p {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
  color: #7D7D7D;
  text-align: center;
}

.menu_exploration .btn_exploration {
  margin: 30px 0 60px 0;
}

.instructions {
  width: 90%;
  height: 380px;
  margin: 50px auto;
}

.restaurants_container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding: 5%;
  background-color: #F7F7F7;
}

.restaurants_container h2 {
  margin: 40px 0 20px 0;
}

@media (min-width: 902px) {
  .instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .instructions h2 {
    width: 100%;
  }
  .instructions_step {
    width: 25%;
  }
  .instructions_step p {
    width: 70%;
    font-size: 16px;
    margin: 5px;
  }
}
