@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  -webkit-box-shadow: 0px 2px 10px -6px dimgray;
          box-shadow: 0px 2px 10px -6px dimgray;
  z-index: z;
}

header img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  padding: 30px 0;
}

.location {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ededed;
  padding: 20px 0;
}

.location i, .location p {
  padding: 0 10px;
  font-size: 20px;
}

.location p {
  font-weight: 500;
  color: dimgray;
}
