@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes btn-grab-attention {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes btn-grab-attention {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes btn-hover {
  0% {
    -webkit-box-shadow: 0px 4px 12px -6px #7D7D7D;
            box-shadow: 0px 4px 12px -6px #7D7D7D;
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: 0px 6px 16px -4px #7D7D7D;
            box-shadow: 0px 6px 16px -4px #7D7D7D;
    opacity: 95%;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes btn-hover {
  0% {
    -webkit-box-shadow: 0px 4px 12px -6px #7D7D7D;
            box-shadow: 0px 4px 12px -6px #7D7D7D;
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-box-shadow: 0px 6px 16px -4px #7D7D7D;
            box-shadow: 0px 6px 16px -4px #7D7D7D;
    opacity: 95%;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes heart-is-liked {
  0% {
    opacity: 30%;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 100%;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes heart-is-liked {
  0% {
    opacity: 30%;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 100%;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 100%;
    visibility: visible;
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    opacity: 100%;
    visibility: visible;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loader {
  from {
    opacity: 100%;
    visibility: visible;
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    opacity: 100%;
    visibility: visible;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes loader-visibility {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  80% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: visible;
  }
}

@keyframes loader-visibility {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  80% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: visible;
  }
}

@-webkit-keyframes arrow-back-to-home {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-90%, -50%);
            transform: translate(-90%, -50%);
  }
}

@keyframes arrow-back-to-home {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-90%, -50%);
            transform: translate(-90%, -50%);
  }
}

@-webkit-keyframes menu-dropdown {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu-dropdown {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  text-decoration: none;
}

body {
  max-width: 1500px;
  margin: auto;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  color: #121212;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  -webkit-box-shadow: 0px 4px 12px -4px #7D7D7D;
          box-shadow: 0px 4px 12px -4px #7D7D7D;
  position: relative;
  z-index: 2;
}

header nav {
  background-color: white;
  position: relative;
  height: 70px;
}

header nav img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #121212;
}

header nav i:hover {
  -webkit-animation: arrow-back-to-home 1s ease 0s 1 normal forwards;
          animation: arrow-back-to-home 1s ease 0s 1 normal forwards;
}

.footer {
  background: #4a4a4a;
  padding: 20px;
  margin-top: 100px;
}

.footer img {
  width: 100px;
  height: auto;
  margin: 20px 0;
}

.footer a {
  margin: 10px 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer a i {
  width: 30px;
}

.footer a:hover {
  color: #FF79DA;
}

.btn-pink {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 12px -4px #7D7D7D;
          box-shadow: 0px 4px 12px -4px #7D7D7D;
}

.btn-pink:not(:hover) {
  -webkit-animation: btn-grab-attention 1s ease 2s 1 normal forwards;
          animation: btn-grab-attention 1s ease 2s 1 normal forwards;
}

.btn-pink:hover {
  -webkit-animation: btn-hover 200ms ease-in 1 normal forwards;
          animation: btn-hover 200ms ease-in 1 normal forwards;
}

.instructions_step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDEDED;
  height: 80px;
  margin: 30px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 12px -4px #7D7D7D;
          box-shadow: 0px 4px 12px -4px #7D7D7D;
}

.instructions_step span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.instructions_step i {
  width: 10px;
  font-size: 20px;
  margin: auto;
  color: #7D7D7D;
}

.instructions_step p {
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}

.instructions_step:hover {
  background: #f4eefc;
}

.instructions_step:hover i {
  color: #9356DC;
}

.btn_new {
  background-color: #99E2D0;
  color: #278870;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 400;
}

.btn_heart {
  font-size: 30px;
  margin: 20px 25px;
  color: #7D7D7D;
  position: absolute;
}

.is-liked {
  opacity: 0%;
}

.is-liked:hover {
  cursor: pointer;
  -webkit-animation: heart-is-liked 300ms ease 0s 1 normal forwards;
          animation: heart-is-liked 300ms ease 0s 1 normal forwards;
}

.restaurant_article {
  position: relative;
  height: auto;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 12px -4px #7D7D7D;
          box-shadow: 0px 4px 12px -4px #7D7D7D;
  background-color: white;
}

.restaurant_article a {
  width: 100%;
}

.restaurant_article a .btn_new {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 20px;
}

.restaurant_article a img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant_article .restaurant_details {
  font-size: 22px;
  width: 55%;
  margin: 20px;
}

.restaurant_article .restaurant_details h3 {
  font-weight: 600;
  color: #121212;
}

.restaurant_article .restaurant_details p {
  font-weight: 300;
  margin-top: 10px;
  color: #7D7D7D;
}

.restaurant_article i {
  right: 2%;
  bottom: 5%;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 3;
  max-width: 1500px;
  margin: auto;
  opacity: 0%;
  visibility: hidden;
  -webkit-animation: loader-visibility 2s ease;
          animation: loader-visibility 2s ease;
}

.loader::after {
  content: "";
  width: 125px;
  height: 125px;
  border: 15px solid white;
  border-top-color: #9356DC;
  border-right-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: loader 1s ease infinite;
          animation: loader 1s ease infinite;
}

.location {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EDEDED;
  padding: 10px 0;
}

.location label {
  font-size: 22px;
  margin-left: 50px;
}

.location input {
  border: none;
  background-color: #EDEDED;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
}

.location input:focus {
  outline: none;
}

.menu_exploration {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu_exploration h1 {
  margin: 40px 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  width: 70%;
  text-align: center;
  color: #121212;
}

.menu_exploration p {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
  color: #7D7D7D;
  text-align: center;
}

.menu_exploration .btn_exploration {
  margin: 30px 0 60px 0;
}

.instructions {
  width: 90%;
  height: 380px;
  margin: 50px auto;
}

.restaurants_container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding: 5%;
  background-color: #F7F7F7;
}

.restaurants_container h2 {
  margin: 40px 0 20px 0;
}

body {
  background-color: #F7F7F7;
}

.main_title_container {
  position: relative;
}

.main_title_container img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_title_container .main_title {
  position: absolute;
  bottom: -40px;
  width: 92%;
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 4%;
  border-radius: 40px;
  background-color: #F7F7F7;
}

.main_title_container .main_title h1 {
  width: 80%;
  font-size: 28px;
  font-family: 'shrikhand', cursive;
  color: #121212;
  overflow: hidden;
}

.main_title_container .main_title i {
  right: 5%;
  top: 10%;
}

.menu_container {
  width: 92%;
  height: auto;
  margin: 0 auto 30px auto;
  position: relative;
}

.menu_container h2 {
  font-size: 18px;
  font-weight: 400;
  color: #7D7D7D;
}

.menu_container hr {
  border: 1px solid #99E2D0;
  width: 40px;
  display: block;
  margin-right: 100%;
}

.menu_container .menu_options {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 12px -4px #7D7D7D;
          box-shadow: 0px 4px 12px -4px #7D7D7D;
  margin: 20px auto;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

.menu_container .menu_options:hover > .menu_options_details {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.menu_container .menu_options:hover > .menu_options_details .add_to_cart_checkbox i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 400ms 100ms ease;
  transition: -webkit-transform 400ms 100ms ease;
  transition: transform 400ms 100ms ease;
  transition: transform 400ms 100ms ease, -webkit-transform 400ms 100ms ease;
}

.menu_container .menu_options .menu_options_title {
  padding: 15px;
  width: 55%;
}

.menu_container .menu_options .menu_options_title h3 {
  font-weight: 600;
  font-size: 18px;
  padding: 0 0 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_container .menu_options .menu_options_title p {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_container .menu_options .menu_options_details {
  height: 100%;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(55%);
          transform: translateX(55%);
}

.menu_container .menu_options .menu_options_details span {
  font-weight: 600;
  padding: 0 20px 15px 0;
}

.menu_container .menu_options .menu_options_details .add_to_cart_checkbox {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu_container .menu_options .menu_options_details .add_to_cart_checkbox i {
  color: white;
  font-size: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu_container .option-1 {
  top: 30px;
  -webkit-animation: menu-dropdown 1s ease 200ms both;
          animation: menu-dropdown 1s ease 200ms both;
}

.menu_container .option-2 {
  top: 130px;
  -webkit-animation: menu-dropdown 1s ease 400ms both;
          animation: menu-dropdown 1s ease 400ms both;
}

.menu_container .option-3 {
  top: 230px;
  -webkit-animation: menu-dropdown 1s ease 600ms both;
          animation: menu-dropdown 1s ease 600ms both;
}

.menu_container .option-4 {
  top: 230px;
  -webkit-animation: menu-dropdown 1s ease 800ms both;
          animation: menu-dropdown 1s ease 800ms both;
}

.btn_order {
  margin: 50px auto;
}

@media (min-width: 992px) {
  .instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  .instructions h2 {
    width: 100%;
  }
  .instructions_step {
    width: 25%;
  }
  .instructions_step p {
    width: 70%;
    font-size: 16px;
    margin: 5px;
  }
  .restaurants_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants_container h2 {
    width: 100%;
  }
  .restaurants_container .restaurant_article {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .menu_container_parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu_container_parent .menu_container {
    width: 30%;
    display: inline-block;
    margin: 1%;
  }
}
