// ANIMATION FOR BUTTON MAIN

@keyframes btn-grab-attention {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes btn-hover {
    0% {
        box-shadow: 0px 4px 12px -6px $mid-grey;
        opacity: 100%;
        transform: scale(1);
    }

    100% {
        box-shadow: 0px 6px 16px -4px $mid-grey;
        opacity: 95%;
        transform: scale(1.05);
    }
}


// ANIMATION FOR LIKE BUTTON IN SHAOE OF A HEART


@keyframes heart-is-liked {
    0% {
        opacity: 30%;
        background: linear-gradient(170deg, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(1);

    }

    100% {
        opacity: 100%;
        background: linear-gradient(170deg, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(1.02);

    }
}


// ANIMATION FOR LOADING SPINNER 

@keyframes loader {

    from {
        opacity: 100%;
        visibility: visible;
        transform: rotate(0turn);
    }

    to {
        opacity: 100%;
        visibility: visible;
        transform: rotate(1turn);
    }

}

@keyframes loader-visibility {
    0% {
        opacity: 100%;
        visibility: visible;
    }

    80% {
        opacity: 100%;
        visibility: visible;
    }

    100% {
        opacity: 0%;
        visibility: visible;
    }
}

// ANIMATION FOR ARROW HEADER MENU PAGE

@keyframes arrow-back-to-home {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);

    }

    100% {
        opacity: 0;
        transform: translate(-90%, -50%);

    }
}