// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// COLORS 

$primary-color : #9356DC;

$secondary-color : #FF79DA;

$third-color : #99E2D0;

$super-light-grey: #F7F7F7;

$light-grey: #EDEDED;

$mid-grey: #7D7D7D;

$dark-grey: #121212;