// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    background: darken($mid-grey, 20%);
    padding: 20px;
    margin-top: 100px;

    & img {
        width: 100px;
        height: auto;
        margin: 20px 0;
    }

    & a {
        margin: 10px 0;
        color: white;
        display: flex;
        flex-direction: row;

        & i {
            width: 30px;
        }

        &:hover {
            color: $secondary-color;
        }
    }
}