// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    box-shadow: 0px 2px 10px -6px $mid-grey;
    z-index: z;

    & img {
        display: block;
        width: 200px;
        height: auto;
        margin: auto;
        padding: 30px 0;
    }
}