// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    @include drop-shadow;
    position: relative;
    z-index: 2;

    & img {
        display: block;
        width: 200px;
        height: auto;
        margin: auto;
        padding: 20px 0;
    }
}