// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    @include drop-shadow;
    position: relative;
    z-index: 2;

    & nav {
        background-color: white;
        position: relative;
        height: 70px;

        & img {
            width: 200px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & i {
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 8%;
            transform: translate(-50%, -50%);
            color: $dark-grey;
        }
    }
}