@media (min-width: 768px) {

    .menu_container_parent {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .menu_container {
            width: 30%;
            display: inline-block;
            margin: 1%;
        }
    }
}