// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.loader {
        @include loader;
        opacity: 0%;
        visibility: hidden;
        animation: loader-visibility 2s ease;


        &::after {
                content: "";
                width: 125px;
                height: 125px;
                border: 15px solid white;
                border-top-color: $primary-color;
                border-right-color: $primary-color;
                border-radius: 50%;
                animation: loader 1s ease infinite;
        }
}


.location {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $light-grey;
        padding: 10px 0;

        & label {
                font-size: 22px;
                margin-left: 50px;
        }

        & input {
                border: none;
                background-color: $light-grey;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                padding: 10px 0;

                &:focus {
                        outline: none;
                }
        }


}

.menu_exploration {

        background-color: $super-light-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & h1 {
                margin: 40px 0 20px 0;
                font-size: 28px;
                font-weight: 700;
                width: 70%;
                text-align: center;
                color: $dark-grey;
        }

        & p {
                font-size: 20px;
                font-weight: 300;
                width: 80%;
                color: $mid-grey;
                text-align: center;
        }

        & .btn_exploration {
                margin: 30px 0 60px 0;
        }
}

.instructions {
        width: 90%;
        height: 380px;
        margin: 50px auto;
}

.restaurants_container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
        padding: 5%;

        background-color: $super-light-grey;

        & h2 {
                margin: 40px 0 20px 0;
        }
}