main {
    background-color: $super-light-grey;
}

img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.main_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    & h2 {
        font-family: 'shrikhand', cursive;
        padding: 30px 10px;
    }

}

.menu_container {
    width: 96%;
    margin: auto;

    & h3 {
        font-size: 18px;
        color: $mid-grey;
    }

    & hr {
        border: 1px solid $third-color;
        width: 40px;
        margin-right: 100%;
    }

    & .menu_options {
        @include drop-shadow;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 20px auto;
        border-radius: 15px;
        background-color: white;


        & h4 {
            width: 80%;
        }
    }
}