main {
    background-color: $super-light-grey;

}

.main_title_container {
    position: relative;

    & img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    & .main_title {
        position: absolute;
        bottom: -40px;
        width: 92%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 15px 4%;
        border-radius: 40px;
        background-color: $super-light-grey;

        & h1 {
            font-size: 28px;
            font-family: 'shrikhand', cursive;
            color: $dark-grey;
        }

    }
}


.menu_container {
    width: 92%;
    margin: 40px auto;

    & h2 {
        font-size: 18px;
        font-weight: 400;
        color: $mid-grey;
    }

    & hr {
        border: 1px solid $third-color;
        width: 40px;
        margin-right: 100%;
    }

    & .menu_options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        @include drop-shadow;
        margin: 20px auto;
        border-radius: 15px;
        background-color: white;
        padding: 15px;


        & h3 {
            font-weight: 600;
            font-size: 18px;
            padding: 0 0 8px 0;
        }

        & p {
            font-size: 15px;
            font-weight: 300;
        }

        & span {
            font-weight: 600;
        }


    }
}